body { 
  background: url(../images/chalkboard.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  cursor: alias;
}

.header h2{
	color: pink;
}

section {
	background: rgba(255,255,255,0.5);
	padding: 50px;
	width: 900px;
	margin: 20px 20px; 
	box-shadow: 0 3px 10px #333;
	display: block;
	border: 1px solid white;
}

footer {
    text-align: center;
    font-size: 1.3em;
    padding: 3px;
    background: white;
    border-top: 3px solid yellow;
    text-align: center;
    margin-top:4em;
}